@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
/* workspaces list */
#workspaces-list-container::-webkit-scrollbar {
    width: 3px;
}
#workspaces-list-container::-webkit-scrollbar-track {
    background-color: rgb(214, 214, 214);
    border-radius: 3px;
}
#workspaces-list-container::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);
    border-radius: 3px;
}
/* workspace-users-list-container */
#workspace-users-list-container::-webkit-scrollbar {
    width: 5px;
}
#workspace-users-list-container::-webkit-scrollbar-track {
    background-color: rgb(214, 214, 214);
}
#workspace-users-list-container::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);
}

/* workspace description */
#workspace-description-textarea::-webkit-scrollbar{
    display: none;
}
/* task-description-textarea */
#task-description-textarea::-webkit-scrollbar {
    display: none;
}